---
layout: page
---

{{ content }}

 <body>
	  

<div style="background-color: "#111111"">



  <h1>Research</h1>

      I am a Lecturer at the 
      <a href="https://www.bath.ac.uk/departments/department-of-chemical-engineering/" target="_blank">Department of Chemical Engineering, University of Bath</a>.
 My research interests focus on two main areas: catalyst design and reactor engineering. In particular, the development of microreactors and new hybrid photo-electrocatalysts that can be applied in environmental processes such as artificial photosynthesis.

  </p>
  <p>
      Previously I was a postdoctoral researcher at
      the <a href="https://www.ceb.cam.ac.uk/" target="_blank" >University of Cambridge</a> in
      the <a href="https://www.ceb.cam.ac.uk/research/groups/process-integration-group" target="_blank" >Catalysis and Process Integration Group</a>. 
	  Before that I was a postdoctoral researcher at
      the <a href="https://warwick.ac.uk/fac/sci/eng/" target="_blank">University of Warwick</a>, and a Research Scientist
      at <a href="http://www.stolicatalysts.com/" target="_blank" >Stoli Catalysts</a>.
      I obtained my PhD from the <a href="https://www.uclm.es/?sc_lang=en" target="_blank">Universidad de Castilla-La Mancha</a> where I also studied as an undergraduate.
	I have also recieved a Master's degree in Renewable Energy from 
	  <a href="http://www.uam.es/" target="_blank">Universidad Autónoma de Madrid</a>.
	  
  </p>
	
	<h2>Contact</h2>
	<p> Email: <a href="mailto:ajes22@bath.ac.uk"> ajes22@bath.ac.uk</a></p>
	<p>Address: 9 WEST Room 2.04E, University of Bath, Claverton Down, Bath, BA2 7AY, United Kingdom</p>	
	
	<p>[ 
	<a href="https://researchportal.bath.ac.uk/en/persons/antonio-jose-exposito-serrano" target="_blank">Bath profile</a> |
	<a href="https://orcid.org/0000-0001-6448-1681" target="_blank">ORCID</a> | 
	<a href="https://www.scopus.com/authid/detail.uri?authorId=57212740931" target="_blank">Scopus</a> | 
	<a href="https://www.researchgate.net/profile/Antonio_Exposito" target="_blank">Researchgate</a> | 
	<a href="https://scholar.google.com/citations?user=dJkDG8sAAAAJ&hl=zh-TW&oi=sra" target="_blank">Google Scholar</a>  |
	<a href="https://www.linkedin.com/in/antonio-jos%C3%A9-exp%C3%B3sito-52774b98/" target="_blank">LinkedIn</a> |
	<a href="https://twitter.com/AntJExposito" target="_blank">Twitter</a>
		
	]</p>
	
	
	
</div>


